<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <nav>
        <a href="/flights">View Flights</a>
        <a href="/flights/new">Add Flight</a>
    </nav>